/src/node_modules
/src/public/hot
/src/public/storage/*
!/src/public/storage/item_images/
!/src/public/storage/item_images/seed/
!/src/public/storage/item_images/seed/*
/src/storage/*.key
/src/vendor
/src/.env
/src/.env.backup
/src/.phpunit.result.cache
/src/docker-compose.override.yml
/src/Homestead.json
/src/Homestead.yaml
/src/npm-debug.log
/src/yarn-error.log
/src/.idea
/src/.vscode
/docker/mysql/data